{% extends 'backoffice/base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="mb-6 pl-64">
            <div class="w-full bg-white rounded-md border border-gray-100 p-4 shadow-md shadow-black/5">
                <h1 class="pb-4">Nouvelle Facture !</h1>
                {{ include('backoffice/facture/_form.html.twig') }}
                <a href="{{ path('app_facture_index') }}">Retour à la liste</a>  
            </div>
        </div>
    </div>

    
{% endblock %}
