<div class="w-full h-full">
    <div class="flex flex-col h-full">
        <div class="flex flex-1">
            <div class="w-2/4 flex flex-col items-center justify-center ">
                <img src="{{ asset('images/Gymvoice.png') }}" alt="sportif" class="w-2/6 my-8">
                <div class="text-black text-xl bg-primary-600 font-bold px-6 py-2 mb-8">TRAIN YOURSELF TO BE PERFECT</div>
            </div>
            <div class="w-2/4 flex flex-col items-center justify-center ">  
                <div class="text-black text-8xl font-bold mb-10">DEVIS</div>
                <div class="text-black">
                    <div class="flex flex-col">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="h-1/2 w-full my-12 flex justify-center items-center ">
            <table class="w-11/12 mx-4 border-collapse mt-8">
                <thead>
                    <tr>
                        <th class="p-6  text-left text-white bg-black font-bold">PRODUIT</th>
                        <th class="p-4 text-left text-white bg-black">QUANTITÉ</th>
                        <th class="p-4 text-left text-white bg-black">PRIX HT</th>
                        <th class="p-4 text-left text-black bg-primary-600">TOTAL</th>
                    </tr>
                </thead>
                <tbody id="lignesDevis">
                        <tr>
                            <td class="border-y border-black p-4 text-left"></td>
                            <td class="border-y border-black p-4 text-left"></td>
                            <td class="border-y border-black p-4 text-left">€</td>
                            <td class="border-y border-black p-4 text-left">€</td>
                        </tr>
                </tbody>
                <tfoot>
                    <th class="p-6 text-left text-black bg-[#ededed] font-bold">
                        <button type="button" id="add-ligne">AJOUTER UN PRODUIT</button>
                    </th>
                    <th class="bg-[#ededed]"></th>
                    <th class="bg-[#ededed]"></th>
                    <th class="bg-[#ededed]"></th>
                </tfoot>
            </table>
        </div>
        <div class="flex flex-1 mt-16 bg-primary bg-primary-600">
            <div class="w-2/5 flex flex-col items-center justify-center my-16">
                <div class="text-black font-bold text-4xl px-6">TERMS and CONDITION</div>
                <div class="text-black text-center px-4">Lorem ipsum dolor sit amer, consectetur adipiscing elit, sed do eiusmod tempor incidunt ut</div>
            </div>
            <div class="w-3/5 flex flex-col items-center justify-center my-16 ">
                <div class="text-black">
                    <p>

                    </p>
                    <p>

                    </p>
                    <p>

                    </p>
                    <hr class="w-full border-t border-black my-2">
                    <p>

                    </p>
                    <button class="btn">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>