<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
    <h1>Bonjour, {{ firstname }} {{ lastname }}</h1>
    <p>Nous sommes ravis de vous accueillir sur notre site.</p>
    <p>Votre adresse email enregistrée est : {{ email }}</p>
</body>
</html>
