{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="p-6">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
                    <div class="bg-white rounded-md border border-primary-300 p-4 shadow-md shadow-black/5 ml-64">
                        <h1 class="pb-4">Liste des clients</h1>
                        <table class="min-w-full border-collapse">
                            <thead>
                                <tr class="bg-gray-100">
                                    <th class="border border-gray-300 p-4 text-left">Id</th>
                                    <th class="border border-gray-300 p-4 text-left">Firstname</th>
                                    <th class="border border-gray-300 p-4 text-left">Lastname</th>
                                    <th class="border border-gray-300 p-4 text-left">Email</th>
                                    <!-- Ajoutez d'autres en-têtes de colonne si nécessaire -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in user %}
                                    <tr>
                                        <td class="border border-gray-300 p-4 text-left">{{ user.id }}</td>
                                        <td class="border border-gray-300 p-4 text-left">{{ user.firstname }}</td>
                                        <td class="border border-gray-300 p-4 text-left">{{ user.lastname }}</td>
                                        <td class="border border-gray-300 p-4 text-left">{{ user.email }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock %}