{% extends 'backoffice/base.html.twig' %}

{% block title %}Composants{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="mb-6 pl-64">
            <div class="w-full bg-white rounded-md border border-gray-100 p-4 shadow-md shadow-black/5">
                <h1>Les Composants</h1>
            </div>
        </div>
    </div>
{% endblock %}